Django==2.2
Markdown
Pillow
Pygments
certifi
chardet
defusedxml
django-allauth
django-ckeditor
django-js-asset
django-model-utils
django-mptt
django-notifications
django-notifications-hq
django-password-reset
django-polls
django-taggit
idna
jsonfield
oauthlib
python3-openid
pytz
requests
requests-oauthlib
setuptools
sqlparse
swapper
urllib3